@{
    ViewData["Title"] = "Events";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]BookingsKe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/event.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookingsKe.styles.css" asp-append-version="true" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">UPCOMING EVENTS </h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://th.bing.com/th/id/OIP.hFcse8A29W66X_v0jtQDPAHaJh?rs=1&pid=ImgDetMain" alt="card image"></p>
                                        <h4 class="card-title">Suswa Road Trip</h4>
                                        <p class="card-text">Twende Suswa!<br>4th May 2024</p>
                                        <div class="text-center">
                                            <a class="small" asp-controller="Home" asp-action="Bookings">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Repeat the above structure for other event cards -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://th.bing.com/th?id=OIP.qTXx2Qv58hkns1b1vt_RuwHaE3&w=308&h=202&c=8&rs=1&qlt=90&o=6&dpr=2&pid=3.1&rm=2" alt="card image"></p>
                                        <h4 class="card-title">Muranga Road Trip</h4>
                                        <p class="card-text">Muranga Here we Go<br>4th April 2024</p>
                                        <div class="text-center">
                                            <a class="small" asp-controller="Home" asp-action="Bookings">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://th.bing.com/th/id/OIP.NCGnoM-SKlkSgWdrPFC2_wHaFj?rs=1&pid=ImgDetMain" alt="card image"></p>
                                        <h4 class="card-title">Spurs Mall Dinner</h4>
                                        <p class="card-text">Lets share in a late night dinner<br>6th May 2024</p>
                                        <div class="text-center">
                                            <a class="small" asp-controller="Home" asp-action="Bookings">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://th.bing.com/th/id/R.20611a858fb0a7829d85b01dd690cf7e?rik=B79AsdEenlbiCA&pid=ImgRaw&r=0" alt="card image"></p>
                                        <h4 class="card-title">Nairobi City Aerial Viewing</h4>
                                        <p class="card-text">A clear view of the city from the top<br>8th May 2024</p>
                                        <div class="text-center">
                                            <a class="small" asp-controller="Home" asp-action="Bookings">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://th.bing.com/th/id/R.ddf225345a53557a420d40935808e5dc?rik=xYfpWI4mz5YPkw&pid=ImgRaw&r=0" alt="card image"></p>
                                        <h4 class="card-title">Watamu Vacation</h4>
                                        <p class="card-text">Witness bebigirls Barthday!<br>11th July 2024</p>
                                        <div class="text-center">
                                            <a class="small" asp-controller="Home" asp-action="Bookings">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://th.bing.com/th/id/OIP.NWfHuxdWe5X2XVwpfChcHwHaE8?rs=1&pid=ImgDetMain" alt="card image"></p>
                                        <h4 class="card-title">Bike Racing</h4>
                                        <p class="card-text">Ride within the city this weekend!<br>10th May 2024</p>
                                        <div class="text-center">
                                            <a class="small" asp-controller="Home" asp-action="Bookings">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
            </div>
        </div>
        <!-- Additional Body -->

        <p10>
            A road trip evokes a sense of adventure, freedom, and discovery like no other
            journey. It's a thrilling escape from the routine, where every mile unfolds
            a new story and every curve offers a new vista. The open road stretches ahead,
            inviting you to explore landscapes both familiar and unknown, from sun-kissed
            deserts to towering mountains, winding coastlines to quaint countryside.
            With each passing mile marker, you leave behind the hustle and bustle of daily life,
            embracing the spontaneity of the unknown and the serenity of the journey itself.
            Road trips are not just about reaching a destination; they're about the experiences
            along the way—the laughter shared with friends, the melodies sung at the top of
            your lungs, and the moments of quiet reflection as you watch the world pass by.
            Whether it's a solo expedition, a bonding adventure with loved ones, or a
            soul-searching quest, a road trip is a voyage of self-discovery, where the
            destination is secondary to the memories made and the lessons learned.
            So, fuel up, roll down the windows, and let the road guide you on an
            unforgettable odyssey of exploration, connection, and freedom.
        </p10>

    </section>
    <!-- Team -->


</body>
</html>
